<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Demo ReactJS</title>
    <script src="lib/react.js"></script>
    <script src="lib/react-dom.js"></script>
    <script src="lib/babel.js"></script>
  </head>
  <body>
    <div id="aa"></div>
    <script type="text/babel">
    ReactDOM.render(<h1>Tram Khanh Duong</h1>, document.getElementById("aa"));
    </script>
  </body>
</html>
